.App {
  height: 100vh;
  display: flex
}

section.board-list{
  background-color: bisque;
  width: 25vw;
  height: 100%
}

section.board{
  background-color: aliceblue;
  width: 75vw;
  height: 100%
}
