.App {
    height: 100vh;
    display: flex;
}
h1 {
    margin: 0;
    padding: 0;
}

section.board-list {
    background-color: bisque;
    width: 13rem;
    height: 100%;
}

section.board {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    position: relative;
}
.post {
    background-color: blanchedalmond;
    position: absolute;
}

.post .edit-done {
    display: flex;
    flex-direction: column;
}
